.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.navigation {
    background-color: rgba(163, 163, 163, 1);
    width: 15em;
    padding: 10px;
    height: 432px;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100%-15em);
}

.article1,
.article2 {
    background-color: hsl(0, 0%, 67%);
    padding: 71px;
    width: 100%;
    flex-grow: 1;
}

.envelope {
    bottom: 10px;
    right: 10px;
    position: absolute;
}


.bottomunit {
    background-color: rgba(107, 107, 107, 0.97);
    padding: 10px;
    width: 100%;
    height: auto;
}