div {
    border-radius: 15px 50px 30px 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;

}

.block,
.block > div {
    border: none;
}

.hover {
    visibility: hidden;
}

a:hover + img.hover{
 display: inline-block;
 visibility: visible;

}
