.first { 
    font-family: 'Protest Guerrilla', sans-serif;
    white-space:pre;
}

.second {
    font-family: 'Amatic SC', sans-serif;
}

.third {
    font-family: 'Rubik Doodle Triangles', system-ui;
    white-space: pre;
}

