body { 
    padding: 50px;       
}
.box {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}

.svg {
    width: 400px;
    height: 400px;
    border: 1px solid red;
    margin-bottom: 10px;
}
.text {
    font-size: 24px;
    color:black;
    fill: black;  
}
.rect {
    stroke:green;
    stroke-width: 10px;
    fill:none;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: all 5s ease-in-out;
}

.svg-rect:hover .rect {
    stroke-dashoffset: 0;
}