body {
    font-family: 'Protest Revolution', sans-serif;
    font-size: 14px;
    background-color:pink;
    }
    
    h1{
        font-variant: small-caps;
        text-decoration: underline;
        letter-spacing: 10px;
        color: #FFFFFF;
    background: #333333;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    }
    
    .p2{
        font-family: 'Kablammo', system-ui;
    
    }