table {
    border-collapse: separate;
    border-spacing: 7px; 
    border:none;
    width: 100%; 
}

.color th {
    background-color: grey;
}

td,
th {
    border-style: dotted;
    border-color: grey;
    width: calc(100% / 6);
}
tr:nth-child(odd){
    background-color: lightgrey;
}
.middle {
    text-align: center;
}

    