.container {
    background-color: black;
    color: green;
    width: 400px;
    max-height: 60px;
    overflow: auto;
    line-height: 16px;
    overflow-y: scroll;
}

.list {
    width: 350px;
    list-style-type: upper-roman;
}

.list2 {
    list-style-type: lower-roman;

}